@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
}

.profile {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    background: grey;
    width: 360px;
    height: 340px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
}

.raindrop {
    position: absolute;
    bottom: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: fall linear infinite;
    z-index: 5;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

.user {
    margin: 0;
}

.text {
    color: aliceblue;
}

.profile {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background: grey;
    width: 360px;
    height: 340px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.pic {
    margin-top: 70px;
    position: relative;
}

.img {
    width: 100px;
    border-radius: 50%;
    ma
}

.img-link {
    width: 20px;
    background-color: white;
    margin-bottom: 100px;
}

.img-link:hover{
    width: 25px;
}